/* 
1. HarmonyOS_Sans_SC_Black.ttf：
   - 字体族名称：HarmonyOS_Sans_SC_Black
   - 特点：粗体样式，字体粗细较粗，适合用于标题或需要突出显示的文本。
2. HarmonyOS_Sans_SC_Bold.ttf：
   - 字体族名称：HarmonyOS_Sans_SC_Bold
   - 特点：粗体样式，相比于 Black 样式略细一些，也适合用于标题或需要突出显示的文本。
3. HarmonyOS_Sans_SC_Light.ttf：
   - 字体族名称：HarmonyOS_Sans_SC_Light
   - 特点：轻体样式，字体较细，适合用于正文或需要较为轻盈感觉的文本。
4. HarmonyOS_Sans_SC_Medium.ttf：
   - 字体族名称：HarmonyOS_Sans_SC_Medium
   - 特点：中等粗细的样式，介于正常和粗体之间，适合用于标题或正文等需要中等粗细的文本。
5. HarmonyOS_Sans_SC_Regular.ttf：
   - 字体族名称：HarmonyOS_Sans_SC_Regular
   - 特点：常规样式，是标准的字体样式，适用于大部分正文内容。
6. HarmonyOS_Sans_SC_Thin.ttf：
   - 字体族名称：HarmonyOS_Sans_SC_Thin
   - 特点：细体样式，非常细的字体，适合用于特殊设计需求或需要较细字体的文本。
*/
/* font-family: "HarmonyOS_Sans_SC_Medium", sans-serif; */
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Black';
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Light';
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Medium';
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Regular';
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC_Thin';
    src: url('./HarmonyOS_Sans/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Inter-Black';
    src: url('./Inter/Inter-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}